
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav design */
nav{
    display: flex;
    /* to keep items in the same line vertically */
    align-items: center;   

    justify-content:space-between ;
    margin:0 200px ;
}

.topword{
    font-weight:800;
    font-size: 45px;

}
nav ul{
    display: flex;
    align-items: center;
}
.colorforhead{
    color: #FD6E0A;

}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size:20 px;
}
.dark{
    color:#474747;

}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;


}

nav ul{
    display: flex;

}
/* banner styles */
.banner-greet{
    font-size: 45px;
    font-weight:600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;

}

.head-discription{
    font-weight: normal;
    font-size: 18;
    color: #757575;


}
.banner{
  display: flex;
  justify-content: space-between;
}

.banner-pic{
    width: 660px;
   

}
.banner-content{
    width: 585px; 
    margin: 136px 130px 184px 230px ;
}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right ;
    background-color: #FFF8F3;
}

.title-me{
    font-weight: bold;
    font-size: 35px;
    color:#181818;


}

.about-des{
    font-weight: normal;
    font-size: 18px;
    color: #757575;


}
/* main styles */
.main{
    max-width: 1140px;
    margin :0 auto;

}



.about{
    background-color:#FFF8F3 ;
    padding: 131px 193px;
    text-align: center;
    border-radius: 10px;
    margin-top: 130px;
}
/* about logos */
.logomain{
    display: flex;
    justify-content: space-around;
    width: 766px;
    height: 65px;
    margin-top: 30px;;

}
.about-d{
    color:#757575 ;
    font-size: 20px;

}

.aboutdes{
    font-weight: bold;
    color: #474747;


}
.text{
   
    text-align: center;
   
}

.whatdes{
    font-size: 18px;
    font-weight:normal;
    color:#757575 ;

}
.skill{
   
    gap: 24px;
    display: flex;
    
}
.skillcon{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(224, 211, 211);
    

}
.what-sec{
    padding-top:133px ;
}

.resume{
    display: flex;
    gap: 25px;
}

.summary{
    margin: 200px;


}



